body {
  margin: 0;
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  background: #eceeef;
}

.visually-hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

td {
  height: 88px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: 193px;
}

.col-2 {
  width: 266px;
}

.col-3 {
  width: 120px;
}

.col-4 {
  width: 116px;
}

.col-5 {
  width: 162px;
}

.col-6 {
  width: 261px;
}

.left {
  padding-left: 21px;
  text-align: left;
}

.right {
  padding-right: 21px;
  text-align: right;
}

.center {
  text-align: center;
}
